<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message de Bienvenue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
   
</head>
<body>
    <div id="app">
    <label>temperature en degrés Celsius</label>
       <input type="number" v-model="temp" >
       <p v-if="temp >= 100">L'eau bout à cette temperature</p>
       <p>temperature en degrés Farheinet : {{tempConvert.toFixed(2)}}</p>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                 Message:`L'eau bout à cette temperature` ,
                 temp: 0,
            },
            computed: {
                tempConvert(){
                    return this.temp * 33.8
                }
            }
            
        });
    </script>
</body>
</html